/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

section {
  padding: 50px 0;
}

/* UTILITY */

.btn {
  padding: 8px 16px;
  border: 1px solid currentColor;
  background-color: transparent;
  color: black;
}

.btn.btn-primary {
  color: white;
  background-color: #0062fe;
  border-color: #0062fe;
}

.btn.btn-white {
  color: black;
  background-color: white;
  max-width: 170px;
}

.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container.container-xl {
  max-width: 1100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col {
  width: 100%;
}
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: calc(100% / 3);
}

.col-70 {
  width: 70%;
}

.col-30 {
  width: 30%;
}

.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}
.col-20 {
  width: 20%;
}

/*HEADER*/

.page-header {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  min-height: 80px;
  font-weight: 500;
}
.page-header li {
  display: inline-block;
  margin-left: 15px;
}
.page-header ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/*   JUMBO  */

#jumbo .col-30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
#jumbo .arrow {
  margin-top: auto;
  margin-bottom: 100px;
}

#jumbo .container {
  position: relative;
  top: 85px;
}

#jumbo {
  background-color: #b4d0e7;
  margin-bottom: 100px;
  padding-bottom: 0;
}

#jumbo h1 {
  margin-bottom: 30px;
  font-size: 4.5rem;
  font-weight: 900;
}
#jumbo p {
  line-height: 25px;
}

/* BUSINESS */

#business {
  border-top: 1px solid #00000018;
}

#business h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

#business .payment-type {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}

#business .card {
  border: 1px solid gray;
}

#business .card-header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid gray;
}

#business .card .card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#business .card .card-body h3 {
  font-size: 1.4rem;
  font-weight: bold;
}
#business .card .card-body li {
  margin-top: 20px;
}
#business a {
  text-decoration: underline;
  color: #535bbf;
}
#business .card .card-body h4 {
  margin-top: 50px;
}

#business .check {
  color: #125cc0;
}
.card-low-body {
  min-height: 330px;
}
#business .card-large {
  margin-top: 40px;
}
#business .col-70 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* PARTNER*/

#find-partner .col-40 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 20px;
}

#find-partner h3 {
  margin-top: 40px;
  font-size: 1.4rem;
}
#find-partner p {
  line-height: 25px;
}

/* OPERATIONS*/

#operation h2 {
  font-size: 2rem;
  margin-top: 30px;
  font-weight: 800;
  padding-bottom: 30px;
}
#operation .card {
  line-height: 25px;
}

/* CLIENTS */

#clients h2 {
  font-size: 2rem;
  margin-bottom: 50px;
  font-weight: 800;
}

#clients a {
  text-decoration: underline;
  color: #535bbf;
}

/* FOOTER */

.page-footer {
  background-color: #000000;
  color: white;
}

.page-footer h4 {
  font-size: 1.3rem;
  margin-bottom: 25px;
  font-weight: 800;
  padding-top: 35px;
}
.page-footer li {
  line-height: 30px;
}
